<#assign base=request.contextPath />
<base id="base" href="${base}">
<base id="frameBase" href="${base}/frame">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="${base}/frame/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${base}/frame/layui_admin/css/app.css" media="all">
<link rel="stylesheet" href="${base}/frame/font-awesome/css/font-awesome.min.css" media="all">
<!--<link rel="stylesheet" href="${base}/frame/build/css/themes/blue.css" media="all">-->
<!--下面的为光亮风格
    <!--<link rel="stylesheet" href="./build/css/themes/light.css" media="all">-->